*
body { /*  ESTILO DA PAGINA DE LOGIN   */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background: linear-gradient(16deg, rgba(242,242,242,1) 0%, rgba(146,156,147,1) 100%);
   /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    margin: 0;
}
.divisoria-login { /*DIVISÃO 2 colunas*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
   grid-row-gap: 0px;
}
.div-login-centro{ /*COLUNA 1 LOGIN COLOR/CADASTRO*/
    color: azure;
    justify-items: auto center;
    border-radius: 10px;
    background: rgb(57,115,72);
    background: radial-gradient(circle, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%, rgba(32,64,40,1) 100%);
}
.container .div-btn-login{
    position:absolute;
    margin-bottom: 0px;
}
form .login-btn {
    color: #204028;
    font-weight: bold;
    font-weight:bold;
    border: #4CAF50 3px solid;
    background-color: white;
}
form .login-btn:hover{
    background: rgb(57,115,72);
    background: linear-gradient(299deg, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%);
    font-weight:bold;
    border: #204028 3px solid;
    color: white;
}
.container{ /*até agora aqui ta ok, não mexa em nada*/
    background-color: #fff;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 500px;
    display: flex;
    text-align: center;
    margin:40px;
    padding-right: 10px;
    padding: auto;
    margin-top: 100px;
    margin-left: 500px;
}
.container form{
    margin-top: 10px;
    padding: 10px;
    position: center;
    margin-left: -15px;
}
.container form .titulo-login, .container-cadastro h1{
    font-weight: bold;
    justify-items: center;
    display: flex;
    padding-top: 10px;
}
.div-btn-cadastro-login{
    margin-top: 105px;
}
.container button{
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container h1, .container-cadastro h1 {
    margin-bottom: 20px;
}
.btn-cadastro-login{
    padding:  5px auto;
    color: #F28F16;
    border: 10px;
    border: #F28F16 3px solid;
    background-color: white;
}
.btn-cadastro-login:hover{
    background-color: #F28F16;
    color: white;
    border: 10px;
    border-color: #F28F16;
}
.container input {
    width: 100%;
    padding: 10px 0;
    border: 3px solid #204028;
    border-radius: 5px;
    margin: 10px;
    padding-left: 5px;
}
.container input:hover{
    width: 100%;
    padding: 10px 0;
    border: 3px solid #4CAF50;
    border-radius: 5px;
    margin: 10px;
    padding-left: 5px;
}
.container form{
    margin-top: 10px;
    padding: 10px;
    position: center;
    margin-left: -15px;
}
/*  Cadastro zone   */
.container-cadastro { /*até agora aqui ta ok, não mexa em nada*/
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 850px;
    padding-right: 40px;
    margin:40px;
    margin-top: 100px;
    margin-left: 550px;
}
.container-cadastro form{
    margin-top: 10px;
    padding: 10px;
    position: center;
    margin-left: 35px;
    margin-right: 35px;
}
.container-cadastro .form-input{
    width: 100%;
    padding: 10px 0;
    border: 3px solid #204028;
    border-radius: 10px;
    margin: 10px;
    padding-left: 5px;
}
.container-cadastro .form-input:hover{

}
.container-cadastro form button {
    width: 100%;
    padding: 10px 0;
    color: #204028;
    border: 3px solid #204028;
    border-radius: 5px;
    margin: 10px;
    padding-left: 5px;
}
.container-cadastro button:hover{
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: #204028;
    border: 3px solid #4CAF50;
    border-radius: 5px;
    margin: 10px;
    padding-left: 5px;
}
.container-cadastro form label{
    font-weight: bold;
    
}