footer {
  background: rgb(57,115,72);
  background: linear-gradient(8deg, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%, rgba(32,64,40,1) 100%);
  height: 250px; /* Altura */
  width: 100%; /* Largura */
  padding-top: 2%;  /* espaçamento interno */
  padding: 10px;
  display:table; /* Tipo de exibição */
  align-items: center; /* Alinhamento vertical */
  justify-content: center; /* Alinhamento horizontal */
  margin-top: auto; /* Mantém o footer na parte inferior */
}
footer img{
  border-radius:50%;
  height: 90px;
  width: 90px;
}
footer hr{
  height:2px;
  border-width:0;
  color:gray;
  background-color:white;
}
footer p, a{
  color: azure;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}
