/* Header e Logo */
header {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgb(57, 115, 72);
    background: linear-gradient(8deg, rgba(57, 115, 72, 1) 0%, rgba(45, 89, 56, 1) 30%, rgba(32, 64, 40, 1) 100%);
}

.logo img {
    height: 80px;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: background-color 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    background-color: #3e9473;
    font-weight: bold;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown:hover ul {
    display: block;
}

.dropdown ul li {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

.dropdown ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown ul li:hover {
    background-color: #f1f1f1;
}



/* Barra de Pesquisa */
.search-bar {
    display: flex;
    align-items: center;
}

.input-busca {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 5px;
}

/* Botão de busca */
.search-bar button {
    padding: 5px 10px;
    background: #3e9473;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #2d7049;
}
