body {
    font-family: Arial, sans-serif;
    margin: 0%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgb(57,115,72);
    background: linear-gradient(8deg, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%, rgba(32,64,40,1) 100%);
}

.logo img {
    height: 80px; /* Ajuste o tamanho do logo conforme necessário */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #3e9473;
    font-weight: bold;
}
.input-busca{
    border-radius: 15px;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #07914c;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}

.search-bar button:hover {
    background-color: #3e9473;
}

.anuncios {
    padding: 20px;
    background-color: #f9f9f9;
    margin-left: 70px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 24px;
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 70px;
    justify-items: center;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 30px;
}

.produto img {
    max-width: 20%;
    height: auto;
}

.produto button {
    background-color: #07914c;
    color: #07914c;
    font-weight:bold;
    border: #4CAF50 3px solid;
    background-color: white;
}

.produto button:hover {
    background-color: #3e9473;
    font-weight:bold;
    border: #4CAF50 3px solid;
    color: white;
}
