.anuncios {
    padding: 20px;
    background-color: #f9f9f9;
    margin-left: 70px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 24px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    justify-items: center;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;
    transition: transform 0.3s, box-shadow 0.3s; /* Transição para o efeito de hover */
}

.produto:hover {
    transform: scale(1.05); /* Efeito de zoom */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra no hover */
}

.produto img {
    margin-top: 15px;
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}

.produto button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    background-color: #07914c;
    color: #07914c;
    border: #4CAF50 3px solid;
    border-radius: 15px;
    background-color: white;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

.produto button:hover {
    background-color: #3e9473;
    color: white; /* Muda a cor do texto */
}

/* Estilos para melhorar o visual */
body {
    font-family: Arial, sans-serif;
    margin: 0%;
}

header {
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(8deg, rgba(57,115,72,1) 0%, rgba(45,89,56,1) 30%, rgba(32,64,40,1) 100%);
}

.produto {
    border: 1px solid #ddd;
    border-radius: 24px;
    margin: 45px auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.produto img {
    margin-top: 15px;
    border-radius: 50%;
    max-width: 150px;
}

.produto button {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #07914c;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.produto button:hover {
    background-color: #3e9473;
}

.anuncios {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.caixa-sobre{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 24px;
    padding: 1%;
    border: 1px solid #ddd;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
